<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Listado de productos</title>
</head>
<body>
<nav>
    <a href="/api/views" class="nav-btn">Inicio</a>
    <a href="/api/views/realtimeproducts" class="nav-btn">Editar Lista</a>
</nav>
{{{ body }}}
</body>
</html>
